---
import BlogLayout from './BaseLayout.astro'
import Tags from '../components/Tags.astro'


const { content } = Astro.props
const { title, date, readTime, categories } = content
const dateFormat = { year: 'numeric', month: 'long', day: '2-digit' } as Intl.DateTimeFormatOptions
---

<BlogLayout title={`Blog - ${title}`}>
    <article>
        <h1 class="marginBottom">{title}</h1>
        <div class="marginBottom">
            <time datetime={date}>{new Intl.DateTimeFormat('en', dateFormat).format(new Date(date))},{readTime}
                read</time>
        </div>
        <div class="marginBottom">
            <Tags tags={categories} />
        </div>
        <slot />
    </article>
</BlogLayout>

<style lang='scss'>
    .marginBottom {
        margin-bottom: 20px;
    }
</style>