---
import BaseHead from '../components/BaseHead.astro'
import Footer from '../components/Footer.astro'

---

<html lang="en">
    <head>
	    <BaseHead title={title} description={description} permalink={permalink} publishDate={publishDate} />
    </head>
    <body>
        <!-- <ul>
            {allCategories.map((elem) => (
                <li><a href={`/blog/categories/${elem.slug}`}>{elem.name}</a></li>
            ))}
        </ul> -->
        <article>
            <slot />
        </article>
        <Footer />
    </body>
</html>