---
import BaseLayout from './BaseLayout.astro'
import Tags from '../components/Tags.astro'
import LinkButton from '../components/LinkButton.astro';
import Carousel from '../components/Carousel';

interface WorkLayoutProps {
    title: string
    technologies: string[]
    url: string
    repo: string

}

const { title, technologies, url, repo } = Astro.props.content as WorkLayoutProps
---

<BaseLayout title={`Work - ${title}`}>
    <main>
        <section>
            <h3>{title}</h3>
            <Carousel client:load />
            <div>
                <LinkButton href={url} rel="noreferrer" target='_blank'>Site</LinkButton>
                <LinkButton href={repo} rel="noreferrer" target='_blank'>Repo</LinkButton>
            </div>
            <div>
                <Tags tags={technologies} />
            </div>
            <slot />
        </section>
    </main>
</BaseLayout>