---
// Component Imports
import BaseLayout from '../../layouts/BaseLayout.astro';
import WorkCard from '../../components/WorkCard'

// Component Script:

const allWork = (await Astro.glob('./*.mdx')).sort((a, b) => a.frontmatter.index - b.frontmatter.index)

const title = 'Work - Richard';
const description = 'Explore some of the work Richard has done.'
const permalink = ''
const publishDate = ''

---

<style>
	header {
		margin-bottom: 20px;
	}
</style>

<BaseLayout title={title} description={description} wrapper={false}>
	<main>
		<header>
			<h1>Work</h1>
		</header>
		<body>
			<section>
				{allWork.map((work, index) => (
				<WorkCard client:load src={work.frontmatter.thumbnail} title={work.frontmatter.title}
					description={work.frontmatter.description} url={work.url} position={index} site={work.frontmatter.site} repo={work.frontmatter.repo} />
				))}
			</section>
		</body>
	</main>
</BaseLayout>