---
// Component Imports
import BaseLayout from '../../layouts/BaseLayout.astro';
import Thumbnail from '../../components/Thumbnail.astro';

// Component Script:

const allWork = (await Astro.glob('./*.md')).sort((a, b) => a.frontmatter.index - b.frontmatter.index)

const title = 'Work - Richard';
const description = 'Explore some of the work Richard has done.'
const permalink = ''
const publishDate = ''

---

<style>
	header {
		margin-bottom: 20px;
	}
</style>

<BaseLayout title={title} wrapper={false}>
	<header>
		<h1>Work</h1>
	</header>

	<body>
		<section>
			{allWork.map((work) => (
			<Thumbnail src={work.frontmatter.thumbnail} title={work.frontmatter.title}
				description={work.frontmatter.description} url={work.url} />
			))}
		</section>
	</body>
</BaseLayout>