---
// Component Imports
import BaseLayout from '../../../layouts/BaseLayout.astro';

import { generateCategoriesData } from '../../../utils/helper.ts';
const allPosts = Astro.fetchContent('../*.md');

export async function getStaticPaths() {
    const allPosts = Astro.fetchContent('../*.md')
    const sortedPosts = allPosts.sort((a, b) => new Date(b.data).valueOf() - new Date(a.date).valueOf())
    const categoriesSet = new Set<string>();
    sortedPosts.forEach((elem) => {
        elem.categories && elem.categories.forEach((elem) => {
            categoriesSet.add(elem)
        })
    })
    const categoriesArray = Array.from(categoriesSet)
    const categoriesData = generateCategoriesData(categoriesArray) 
    return categoriesData.map(category => {
        const posts = sortedPosts.filter(post => {
            return post.categories.includes(category.name)
            })
        
        console.log('posts', posts)
        return {
            params: {slug: category.slug},
            props: {
                category: category.name,
                posts: posts
            }
        }
    })

}
 
const { category, posts } = Astro.props;
const title = `Blog Posts Under ${category}`;
console.log(Astro.props)

---
	
<BaseLayout title={title}>
    <div>
        <h1>{title}</h1>
        <ul>
            {posts.map(post => (
                <li><a href={post.url}>{post.title}</a></li>
            ))}
        </ul>
    </div>
</BaseLayout>
