---
import LinkButton from "./LinkButton.astro";
import Tags from './Tags.astro'

const { post } = Astro.props
---

<style lang="scss">
    @import '../styles/_variables.scss';

    h3 {
        text-align: left;
    }

    .articleTitle {
        text-align: left;
    }

    time {
        font-size: 1rem;
        color: $color-medium;
    }

    .blogContainer {
        margin: 0 0 50px 0;
        padding: 20px;
        background-color: $color-white;
    }

    .detailsContainer {
        margin: 15px 0;
        display: flex;
        justify-content: space-between;
        align-items: baseline;
    }

    .detailsContainer span {
        margin-right: 5px;
        color: $color-medium;
    }
</style>

<div class="blogContainer">
    <div>
        <date datetime={post.frontmatter.publishedAt}>
            <time>{new Intl.DateTimeFormat('en', { year: 'numeric', month: 'long', day: '2-digit' }).format(
                new Date(post.frontmatter.date),
                )}</time>
        </date>
        <a href={post.url}>
            <h3 class="articleTitle">{post.frontmatter.title}</h3>
        </a>
        <p>{post.frontmatter.description}</p>
    </div>
    <div>
        <div class='detailsContainer'>
            <div>
                <span class='readTime'>{post.frontmatter.readTime}</span>
                <Tags tags={post.frontmatter.categories} />
            </div>
            <LinkButton href={post.url}>
                Read more
            </LinkButton>
        </div>
    </div>
</div>