---
import styles from '../styles/Card.module.scss'

interface CardProps {
    title: string
    description: string
    thumbnail: string
}

const { title, description, thumbnail  } = Astro.props as CardProps
---
<div class={styles.wrapper}>
    <a class={styles.card} href=''>
        <div class={styles.container}>
            <div class={styles.textContainer}>
                <h3>{title}</h3>
                <p>{description}</p>
            </div>
            <div class={styles.imageContainer}>
                <img src={thumbnail} alt={title}/>
                <!-- svg enter -->
            </div>
        </div>
    </a>
</div>