---
import styles from '../styles/Card.module.scss'

interface CardProps {
    title: string
    description: string
    thumbnail: string
    url: string
}

const { title, description, thumbnail, url  } = Astro.props as CardProps
---
<div class={styles.wrapper}>
    <a class={styles.card} href={url}>
        <div class={styles.container}>
            <div class={styles.textContainer}>
                <h3>{title}</h3>
                <p>{description}</p>
            </div>
            <div class={styles.imageContainer}>
                <img src={thumbnail} alt={title}/>
                <!-- <object data='/enter.svg' height="50px" width="50px"/> -->
            </div>
        </div>
    </a>
</div>