---
import Card from "./Card.astro";

const featuredBlogPost = (await Astro.glob('../pages/blog/github-tips.mdx'))
const featuredWork = (await Astro.glob('../pages/work/polymath-visuals-store.mdx'))

---

<style lang="scss">
    @import '../styles/_variables.scss';
    section {
        display: flex;
        justify-content: space-between;
        position: relative;
        margin-top: 40px;
    }

    @media screen and (max-width: $bp-tablet) {
    section {
        flex-direction: column;
        align-items: center;
    }
}
</style>

<section>
    <Card title={featuredBlogPost[0].frontmatter.title} description={featuredBlogPost[0].frontmatter.description} image={featuredBlogPost[0].frontmatter.images[2]} url={featuredBlogPost[0].url}/>
    <Card title={featuredWork[0].frontmatter.title} description={featuredWork[0].frontmatter.description} image={featuredWork[0].frontmatter.images[0]} url={featuredWork[0].url}/>
</section>