---
import Card from "./Card.astro";

const featuredBlogPost = (await Astro.glob('../pages/blog/heroku-migration.mdx'))
const featuredWork = (await Astro.glob('../pages/work/polymath-visuals-store.mdx'))

---

<style>
    section {
        display: flex;
        position: relative;
        margin-top: 40px;
    }
</style>

<section>
    <Card title={featuredBlogPost[0].frontmatter.title} description={featuredBlogPost[0].frontmatter.description} thumbnail={featuredBlogPost[0].frontmatter.thumbnail}/>
    <Card title={featuredWork[0].frontmatter.title} description={featuredWork[0].frontmatter.description} thumbnail={featuredWork[0].frontmatter.thumbnail}/>
</section>