---
import '../styles/_variables.scss'
import styles from '../styles/Hero.module.scss'
import '../styles/animation.scss'
import Avatar from '/assets/AvatarLarge.svg'

---

<style lang='scss'>
	@import '../styles/_variables.scss';
	#title{
		font-family: $font-accent;
		font-weight: 700;
	}
</style>

<header>
	<div class={styles.heroFlexContainer}>
		<h1 id='title' class={styles.heroIntroduction}>Hi, I'm Richard</h1>
		<div class={styles.imageContainer}>
			<div>
				<div class="steam steam-one"></div>
				<div class="steam steam-two"></div>
				<div class="steam steam-three"></div>
				<div class="steam steam-four"></div>
			</div>
			<img class={styles.heroImg} src={Avatar} />
		</div>
	</div>
	<div>
		<h3>And I like solving problems, fixing stuff, and creating things people enjoy.</h3>
	</div>
</header>