---
    import styles from '../styles/Thumbnail.module.scss'
    interface ThumbnailProps {
        src: string
        title: string
        description: string
        url: string
    }

    const { src, title, description, url } = Astro.props as ThumbnailProps
---

<div class={styles.container}>
    <a href={url}>
        <div class={styles.flexContainer}>
            <div class={styles.imageContainer}>
                <img class={styles.workImg} src={src} />
                <div class={styles.thumbnailContent}>
                    <p>{description}</p>
                    <p class={styles.seeMoreCenter}>see more</p>
                </div>
            </div>
            <div class={styles.titleContainer}>
                <h3>{title}</h3>
            </div>
        </div>
    </a>
</div>