---
// Component Imports
import BaseLayout from '../../layouts/BaseLayout.astro';
import Paginator from '../../components/Paginator.astro';

export async function getStaticPaths({ paginate }) {
    const allPosts = Astro.fetchContent('./*.md')
    const sortedPosts = allPosts.sort((a, b) => new Date(b.data).valueOf() - new Date(a.date).valueOf())
    return paginate(sortedPosts, {pageSize: 1})
}

const { page } = Astro.props
const title = 'Blog'

---
	
<BaseLayout title={title}>
    <div>
        <h1>{title}</h1>
        {page.data.map((post) => (
            <div>
                <a href={post.url}>{post.title}</a>
            </div>
        ))}
        <Paginator page={page}
    </div>
</BaseLayout>
