---
// Component Imports
import BaseLayout from '../../layouts/BaseLayout.astro';
import Tags from '../../components/Tags.astro';

// import generateSlug from '../../utils/helpers.ts'

// export async function getStaticPaths() {
//     console.log('allPost', allPosts)
//     const sortedPosts = allPosts.sort((a, b) => new Date(b.frontmatter.data).valueOf() - new Date(a.frontmatter.date).valueOf())
//     return allPosts.map(post => ({props: {post}}))
// }
const allPosts = (await Astro.glob('/*.md')).sort(
  (a, b) => new Date(b.frontmatter.date).valueOf() - new Date(a.frontmatter.date).valueOf())

const posts = (await Astro.glob('./*.md')).sort(
  (a, b) => new Date(b.frontmatter.date).valueOf() - new Date(a.frontmatter.date).valueOf()
)

const title = 'Blog'

---
	
<BaseLayout title={title}>
    <div>
        <h1>{title}</h1>
        {posts.map((post) => (
          <div>
            <div datetime={post.frontmatter.publishedAt}>
              <time>{new Intl.DateTimeFormat('en', { year: 'numeric', month: 'long', day: '2-digit' }).format(
              new Date(post.frontmatter.date),
              )}</time>
            </div>
            <a href={post.url}><h3>{post.frontmatter.title}</h3></a>
            <p >{post.frontmatter.description}</p>
          </div>
          <div>
            <Tags tags={post.frontmatter.categories}/>
          </div>
          <a href={post.url} class="inline-block mt-2 cta">
              Read more
          </a>
        ))}
    </div>
</BaseLayout>
