---
// Component Imports
import BlogCard from '../../components/BlogCard.astro';
import styles from '../../styles/Blog.module.scss';
import BlogLayout from '../../layouts/BlogLayout.astro';
import BlogNav from '../../components/Nav/BlogNav.astro';
import HomeIcon from '../../components/Nav/NavIcons/HomeIcon.astro';

const posts = (await Astro.glob('./*.mdx')).sort(
  (a, b) => new Date(b.frontmatter.date).valueOf() - new Date(a.frontmatter.date).valueOf()
)

const title = 'Blog'

---

<style lang='scss'>
  header {
    margin-bottom: 20px;
  }
</style>

<BlogLayout title={`${title} - Richard`} wrapper={false}>
  <div class={styles.blogWrapper}>
    <div class={styles.navWrapper}>
      <BlogNav/> 
      <!-- <HomeIcon/> -->
    </div>
    <div>
      <header>
        <h1>{title}</h1>
      </header>
      <section >
        <div>
          {posts.map((post) => (
            <BlogCard post={post} />
            ))}
        </div>
      </section>
    </div>
    <div>
      <aside class={styles.asideWrapper}>
        <div class={styles.profileContainer}>
          <img src="/Richard_Profile.jpg" height="100px" width="100px" alt="Profile Picture"/>
          <h2>Richard Miller Wimmer</h2>
          <h3>
            Software Engineer
            <br/>            
            Web Developer
          </h3>
        </div>
        <div>
          social share
        </div>
      </aside>
    </div>
  </div>
</BlogLayout>