---
// Component Imports
import BaseLayout from '../layouts/BaseLayout.astro'
import Hero from '../components/Hero.astro'
import FeatureContainer from '../components/FeatureContainer.astro'
import styles from '../styles/Home.module.scss'
import Card from '../components/Card.astro'

// Component Script:

const title = 'Home - Richard'

const featuredBlogPost = (await Astro.glob('./blog/usestate-with-typescript.mdx'))
const featuredWork = (await Astro.glob('./work/house-3d-ecomm.mdx'))


---

<BaseLayout title={title} wrapper>
	<Hero />
	<body>
		<main>
			<article class={styles.mainContent} id='main-content'>
				<p>Thanks for visiting my site.</p>
				<br>
				<p>I am a developer/engineer based in the Greater Cincinnati Area. Feel free to take a look around. You can
					find some of my <a href='/work'>work</a>, get in <a href='/contact'>touch</a> with me, learn more <a href='/about'>about</a> me, and
					read some of my <a href='/blog'>articles</a>.
				</p>
				<br>
				<p>I currently work at Insight as a Software Engineer in consulting. In this role I focus on
					frontend technologies to provide the best possible user experience. I love speaking at conferences and sharing knowledge with bootcampers. 
				</p>
			</article>
			<FeatureContainer header={"Featured Work"}>
				<Card title={featuredBlogPost[0].frontmatter.title} description={featuredBlogPost[0].frontmatter.description} image={featuredBlogPost[0].frontmatter.images[2]} url={featuredBlogPost[0].url}/>
				<Card title={featuredWork[0].frontmatter.title} description={featuredWork[0].frontmatter.description} image={featuredWork[0].frontmatter.images[0]} url={featuredWork[0].url}/>
			</FeatureContainer>
			<FeatureContainer header={"Talks"}>
				<Card title={"Built It, Deliver It, Your Professional Brand"} description={'Branding can feel fake, phony, and even disingenuous. The reality is everyone has a brand whether they realize it or not.'} image={'/assets/work/Speaking_1.jpg'} url={}/>
			</FeatureContainer>
		</main>
	</body>
</BaseLayout>