---
// Component Imports:
import IconLink from './IconLink.tsx'
// import styles from  '../../styles/NavList.module.scss'

import HomeIcon from '/HomeIcon.svg'
import WorkIcon from '/WorkIcon.svg'
import AboutIcon from '/AboutIcon.svg'
import BlogIcon from '/BlogIcon.svg'
import ContactIcon from '/ContactIcon.svg'

// Component Script:
const page = new URL(Astro.request.url).pathname;

---

<style lang="scss">
    @import '../../styles/_variables.scss';
    ul {
        padding: 30px 0;
        text-align: center;
    }
    .navWrapper {
        width: 80px;
        border-left: black 1px solid;
        height: calc(100vh - 86px);
        position: sticky;
        top: 30px;
    }

    @media screen and (max-width: $bp-tablet) {
    .navWrapper {
        position: relative;
        height: unset;
        top: unset;
        border-left: unset;
        width: auto;
    }
    .navWrapper > ul {
        display: flex;
        flex-flow: row;
        justify-content: center;
        padding: unset;
    }

}
</style>

<nav class="navWrapper">
        <ul>
            <IconLink page={page} text='home' href='/' child={HomeIcon}/>
            <IconLink page={page} text='work' href='/work' child={WorkIcon}/>
            <IconLink page={page} text='about' href='/about' child={AboutIcon}/>
            <IconLink page={page} text='blog' href='/blog' child={BlogIcon}/>
            <IconLink page={page} text='contact' href='/contact' child={ContactIcon}/>
        </ul>
</nav>