---
import styles from '../styles/Card.module.scss'

interface CardProps {
    title: string
    description: string
    image: string
    url?: string
    isExternal?: boolean
}

const { title, description, image, url, isExternal  } = Astro.props as CardProps

const RenderTag = url ? 'a' : 'div'

const externalLinkAttr = isExternal ? { target: "_blank", rel: "noreferrer"} : null

---
<style>
    h4 {
        margin-bottom: 15px;
        font-size: 2rem;
    }
</style>

<div class={styles.wrapper}>
    <RenderTag class={styles.card} href={url} {...externalLinkAttr}>
        <div class={styles.container}>
            <div class={styles.textContainer}>
                <h4>{title}</h4>
                <p>{description}</p>
            </div>
            <div class={styles.imageContainer}>
                <img src={image} alt={title}/>
            </div>
        </div>
    </RenderTag>
</div>