---
import Card from "./Card.astro";
import styles from '../styles/FeatureContainer.module.scss'

const featuredBlogPost = (await Astro.glob('../pages/blog/usestate-with-typescript.mdx'))
const featuredWork = (await Astro.glob('../pages/work/house-3d-ecomm.mdx'))

---
<div class={styles.featureWrapper}>
    <section class={styles.featureContainer}>
        <h3>Featured</h3>
        <div class={styles.cardContainer}>
            <Card title={featuredBlogPost[0].frontmatter.title} description={featuredBlogPost[0].frontmatter.description} image={featuredBlogPost[0].frontmatter.images[2]} url={featuredBlogPost[0].url}/>
            <Card title={featuredWork[0].frontmatter.title} description={featuredWork[0].frontmatter.description} image={featuredWork[0].frontmatter.images[0]} url={featuredWork[0].url}/>
        </div>
    </section>
</div>