---
import '../styles/_variables.scss'
import '../styles/animation.scss'
import styles from '../styles/Hero.module.scss'
import Avatar from '/assets/AvatarLarge.svg'

---

<style lang='scss'>
	@import '../styles/_variables.scss';

	#title {
		font-family: $font-accent;
		font-weight: 700;
		line-height: 1;
	}

</style>

<header>
	<div class={styles.heroGridContainer}>
		<h1 id='title' class={styles.heroIntroduction}>Hi, I'm Richard the Dev</h1>
		<div class={styles.imageContainer}>
			<div>
				<div class="steam steam-one"></div>
				<div class="steam steam-two"></div>
				<div class="steam steam-three"></div>
				<div class="steam steam-four"></div>
			</div>
			<img class={styles.heroImg} src={Avatar} alt='' />
		</div>
		<h2 class={styles.heroTagLine}>And I like solving problems, fixing stuff, and building things people enjoy.</h2>
	</div>
	<div>
	</div>
</header>